@import 'src/styles/main.scss';

.input_container{
  @include flex-column;
  gap: .5rem;
  flex: 1;

  div{
    @include flex-align('',center);
    padding: 0 0.5rem;
    gap: .5rem;

    span{
      cursor: pointer;
    }
  }
}