.icons_container{
  padding: 1.5rem;

  h1, h2{
    font-weight: 600;
    margin: 1rem 0;
  }

  .material-symbols-outlined{
    cursor: pointer;
  }

  .cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 1.5rem;
  }
}